.footerC {
    bottom: 0px;
    border-top: 3px solid black;
    height: 7vw;
    text-align: center;
    top: 50%;
    padding-top: 1.8vw;
    font-size: 0.9vw;
    background-color: white;
    z-index: 99;
    font-family: 'Lexend';
    cursor: default;
    margin-top: 4.5vw;
}
